*{
    /* border: 1px dotted gray; */
    background-color:#d8da3d;
    color: purple;
}


.fontsize{
    font-size: 30px;
    font-weight: bold;
}


.flex-container{
    
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    /* border-left-width: 15px; */
    /* justify-content: spacess-around; */
}

.border{
    border: 1px dotted purple;
    border-width: 1px 0px 0px 0px;
    padding: 10px 0px;
}

.flex-con{
    
    display: flex;
    flex-direction: row;
    padding: 5px;

    /* justify-content: space-between; */
}
/* <div style="">4</div> 사라짐 (권한에따라 표현할때 */



.text-decoration{
    text-decoration: none;
}
ul{
    /* display: flex; */
    list-style-type: none;
    padding: 0px;
    margin-top: 15px;
    justify-content: center;
    display: inline-block;
    
        
}

li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
 
}

a{
background-color: white;
}

/* ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
} */
