*{
    border: 1px dotted gray;
}
ul{
    list-style-type: none;
    display : inline-block;
}

li {
    display: inline-block;
  }
  
/* display:line  width: 100px;
  height: 100px; 적용 x */
/* display: inline-block   width: 100px;
  height: 100px;*/
/* display: block   width: 100px;
  height: 100px;*/

  /* list-style-type: none; */