*{
      /* border: 1px dotted gray; */
     
}
table{
    font-size: 0.85em
}

textarea {
    width: 400px;
    height: 300px;
    resize: none;
    
  }


.NoticeTittle{
    width: 400px;
    height: 20px;
}

.Emphasis{
    color: white;
    background-color: rgb(250, 143, 104);
}

.EmphasisFont{
    color: white;
    background-color: rgb(250, 143, 104);
    height: 40px;
}


.td_color{
    background-color: rgb(255, 250, 215);
}

.Announcement{
    width: 450px;
    
}

.WriterDate{
    width: 100px;
}
